$backgroundColor: #dddddd;
$primaryColor: #8208e6;
$secondaryColor: #00b84c;
$stopColor: #ff0256;
$white: #ffffff;

body {
  background: $backgroundColor;
  margin: 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.timer {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  padding: 48px 64px;
  border-radius: 30px;
  background: $white;

  .timer__part {
    font-size: 8rem;
    font-weight: bold;
  }

  .timer__btn {
    width: 100px;
    height: 100px;
    margin-left: 16px;
    border-radius: 50%;
    border: none;
    color: $white;
    background: $primaryColor;
    cursor: pointer;

    span {
      font-size: 64px;
    }
  }

  .timer__btn--start {
    background-color: $secondaryColor;
  }

  .timer__btn--stop {
    background-color: $stopColor;
  }
}
